<!-- <div>
    <h2 id="page-heading">
        <span>Ratings</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-rating" [routerLink]="['/rating/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Rating
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="ratings?.length === 0">
        <span>No ratings found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="ratings?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>User Id</span></th>
                    <th scope="col" ><span>Product Id</span></th>
                    <th scope="col" ><span>Scores</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let rating of ratings ;trackBy: trackId">
                    <td><a [routerLink]="['/rating', rating.id, 'view']">{{ rating.id }}</a></td>
                    <td>{{ rating.userId }}</td>
                    <td>{{ rating.productId }}</td>
                    <td>{{ rating.scores }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/rating', rating.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/rating', rating.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(rating)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
