<!-- <div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="product">
            <h2><span>Product</span> {{ product.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Name</span></dt>
                <dd>
                    <span>{{ product.name }}</span>
                </dd>
                <dt><span>Qty</span></dt>
                <dd>
                    <span>{{ product.qty }}</span>
                </dd>
                <dt><span>Description</span></dt>
                <dd>
                    <span>{{ product.description }}</span>
                </dd>
                <dt><span>Company Id</span></dt>
                <dd>
                    <span>{{ product.companyId }}</span>
                </dd>
                <dt><span>Brand</span></dt>
                <dd>
                    <span>{{ product.brand }}</span>
                </dd>
                <dt><span>Category Id</span></dt>
                <dd>
                    <span>{{ product.categoryId }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ product.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ product.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/product', product.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div> -->
