<div style="margin-left: 20px;">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h2 *ngIf="account">
                User settings for [
                <b>{{ account.login }}</b>
                ]
            </h2>

            <div
                class="alert alert-success"
                *ngIf="success"
            >
                <strong>Settings saved!</strong>
            </div>

            <!-- <app-alert-error></app-alert-error> -->

            <form
                name="form"
                role="form"
                (ngSubmit)="save()"
                [formGroup]="settingsForm"
                *ngIf="account"
                novalidate
            >
                <mat-form-field>
                    <input
                        type="text"
                        matInput
                        placeholder="Your first name"
                        formControlName="firstName"
                    >
                </mat-form-field>
                <div *ngIf="settingsForm.get('firstName')!.invalid && (settingsForm.get('firstName')!.dirty || settingsForm.get('firstName')!.touched)">
                    <small
                        class="form-text text-danger"
                        *ngIf="settingsForm.get('firstName')?.errors?.required"
                    >
                        Your first name is required.
                    </small>

                    <small
                        class="form-text text-danger"
                        *ngIf="settingsForm.get('firstName')?.errors?.minlength"
                    >
                        Your first name is required to be at least 1 character.
                    </small>

                    <small
                        class="form-text text-danger"
                        *ngIf="settingsForm.get('firstName')?.errors?.maxlength"
                    >
                        Your first name cannot be longer than 50 characters.
                    </small>
                </div>

                <mat-form-field>

                    <input
                        type="text"
                        matInput
                        placeholder="Your last name"
                        formControlName="lastName"
                    >
                </mat-form-field>
                <div *ngIf="settingsForm.get('lastName')!.invalid && (settingsForm.get('lastName')!.dirty || settingsForm.get('lastName')!.touched)">
                    <small
                        class="form-text text-danger"
                        *ngIf="settingsForm.get('lastName')?.errors?.required"
                    >
                        Your last name is required.
                    </small>

                    <small
                        class="form-text text-danger"
                        *ngIf="settingsForm.get('lastName')?.errors?.minlength"
                    >
                        Your last name is required to be at least 1 character.
                    </small>

                    <small
                        class="form-text text-danger"
                        *ngIf="settingsForm.get('lastName')?.errors?.maxlength"
                    >
                        Your last name cannot be longer than 50 characters.
                    </small>
                </div>

                <mat-form-field>

                    <input
                        type="email"
                        matInput
                        placeholder="Your email"
                        formControlName="email"
                    >
                </mat-form-field>
                <div *ngIf="settingsForm.get('email')!.invalid && (settingsForm.get('email')!.dirty || settingsForm.get('email')!.touched)">
                    <small
                        class="form-text text-danger"
                        *ngIf="settingsForm.get('email')?.errors?.required"
                    >
                        Your email is required.
                    </small>

                    <small
                        class="form-text text-danger"
                        *ngIf="settingsForm.get('email')?.errors?.email"
                    >
                        Your email is invalid.
                    </small>

                    <small
                        class="form-text text-danger"
                        *ngIf="settingsForm.get('email')?.errors?.minlength"
                    >
                        Your email is required to be at least 5 characters.
                    </small>

                    <small
                        class="form-text text-danger"
                        *ngIf="settingsForm.get('email')?.errors?.maxlength"
                    >
                        Your email cannot be longer than 100 characters.
                    </small>
                </div>
<br>
                <button
                    type="submit"
                    [disabled]="settingsForm.invalid"
                    mat-raised-button
                    color="primary"
                >
                    Save
                </button>
            </form>
        </div>
    </div>
</div>
