<div>
    <h4
        class="mat-dialog-title"
        style="text-align: center;"
    >
        Sign in
    </h4>

    <!-- <button
        mat-button
        (click)="close()"
    >
        <span aria-hidden="true">x</span>
    </button> -->
</div>

<div>
    <!-- <div class="row justify-content-center">
        <div class="col-md-8">
            <div
                class="alert alert-danger"
                *ngIf="authenticationError"
            >
                <strong>Failed to sign in!</strong>
                Please check your credentials and try again.
            </div>
        </div>

        <div class="col-md-8">
            <form
                role="form"
                (ngSubmit)="login()"
                [formGroup]="loginForm"
            >
                <mat-form-field>
                    <input
                        type="text"
                        matInput
                        placeholder="Your username"
                        formControlName="username"
                    >
                </mat-form-field>

                <mat-form-field>
                    <input
                        type="password"
                        matInput
                        placeholder="Your password"
                        formControlName="password"
                    >
                </mat-form-field>

                <div>

                    <input
                        type="checkbox"
                        formControlName="rememberMe"
                    >
                    <span>Remember me</span>

                </div>

                <button
                    type="submit"
                    mat-raised-button
                    color="primary"
                >
                    Sign in
                </button>
            </form>

            <div class="mt-3 alert alert-warning">
                <a
                    class="alert-link"
                    (click)="requestResetPassword()"
                >
                    Did you forget your password?
                </a>
            </div>

            <div class="alert alert-warning">
                <span>You don't have an account yet?</span>
                <br>
                <a
                    class="alert-link"
                    (click)="register()"
                >
                    Register a new account
                </a>
            </div>
        </div>
    </div> -->
</div>
