<div
    id="order"
    class="page-layout carded fullwidth inner-scroll"
>

    <!-- TOP BACKGROUND -->
    <div class="top-bg accent"></div>
    <!-- / TOP BACKGROUND -->

    <!-- CENTER -->
    <div class="center">

        <!-- HEADER -->
        <div
            class="header accent"
            fxLayout="row"
            fxLayoutAlign="space-between center"
        >

            <!-- APP TITLE -->
            <div
                fxLayout="row"
                fxLayoutAlign="start center"
            >

                <button
                    mat-icon-button
                    class="mr-16"
                    [routerLink]="'/apps/e-commerce/orders'"
                >
                    <mat-icon>arrow_back</mat-icon>
                </button>

                <div
                    fxLayout="column"
                    fxLayoutAlign="start start"
                    [@animate]="{value:'*',params:{delay:'100ms',x:'-25px'}}"
                >
                    <div *ngIf="order.id" class="h2">Order {{order.id}}</div>
                    <div class="subtitle secondary-text">
                        <span>from</span>
                        <span *ngIf="order.deliveryAddress">
                            {{order.deliveryAddress.firstName}} {{order.deliveryAddress.lastName}}
                        </span>
                    </div>
                </div>
            </div>
            <!-- / APP TITLE -->

        </div>
        <!-- / HEADER -->

        <!-- CONTENT CARD -->
        <div class="content-card">

            <!-- CONTENT -->
            <div class="content">

                <mat-tab-group
                    fxLayout="column"
                    fxFlex
                >

                    <mat-tab label="Order Details">

                        <div
                            class="order-details tab-content p-24"
                            fusePerfectScrollbar
                        >

                            <div class="section pb-48">

                                <div
                                    class="pb-16"
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                >
                                    <mat-icon class="m-0 mr-16 secondary-text">account_circle</mat-icon>
                                    <div class="h2 secondary-text">Customer</div>
                                </div>

                                <div class="customer mb-32">
                                    <table class="simple">
                                        <thead>
                                            <tr>
                                                <th>Name</th>
                                                <!-- <th>Email</th> -->
                                                <th>Phone</th>
                                                <!-- <th>Company</th> -->
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr *ngIf="order.deliveryAddress">
                                                <td>
                                                    <div
                                                        fxLayout="row"
                                                        fxLayoutAlign="start center"
                                                    >
                                                        <img
                                                            class="avatar"
                                                            [src]="'https://ui-avatars.com/api/?name=' + order.deliveryAddress.firstName + ' ' + order.deliveryAddress.lastName"
                                                        >
                                                        <span class="name text-truncate">
                                                            {{order.deliveryAddress.firstName}}
                                                            {{order.deliveryAddress.lastName}}
                                                        </span>
                                                    </div>
                                                </td>
                                                <!-- <td>
                                                    <span class="email text-truncate">{{order.customer.email}}</span>
                                                </td> -->
                                                <td>
                                                    <span class="phone text-truncate">{{order.deliveryAddress.phone}}</span>
                                                </td>
                                                <!-- <td>
                                                    <span class="company text-truncate">{{order.customer.company}}
                                                    </span>
                                                </td> -->
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <mat-accordion class="addresses">

                                    <mat-expansion-panel>

                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Shipping Address</mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div
                                            fxFlex
                                            fxLayout="column"
                                        >
                                            <div
                                                class="address h4 py-24"
                                                *ngIf="order.deliveryAddress"
                                            >
                                                {{order.deliveryAddress.street}} {{order.deliveryAddress.city}}
                                            </div>

                                        </div>

                                    </mat-expansion-panel>

                                    <mat-expansion-panel>

                                        <mat-expansion-panel-header>
                                            <mat-panel-title>Invoice Address</mat-panel-title>
                                        </mat-expansion-panel-header>

                                        <div
                                            fxFlex
                                            fxLayout="column"
                                        >
                                            <div
                                                class="address h4 py-24"
                                                *ngIf="order.billingAddress"
                                            >
                                                {{order.billingAddress.street}} {{order.billingAddress.city}}
                                            </div>

                                        </div>

                                    </mat-expansion-panel>

                                </mat-accordion>

                            </div>

                            <div class="section pb-48">

                                <div
                                    class="pb-16"
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                >
                                    <mat-icon class="m-0 mr-16 secondary-text">access_time</mat-icon>
                                    <div class="h2 secondary-text">Order Status</div>
                                </div>

                                <table class="simple">
                                    <thead>
                                        <tr>
                                            <th>Status</th>
                                            <th>Updated On</th>
                                        </tr>
                                    </thead>
                                    <tbody>

                                        <tr>
                                            <td>
                                                <span
                                                    class="status h6 p-4"
                                                    [ngClass]="orderStatus.color"
                                                    *ngIf="orderStatus && orderStatus.color"
                                                >
                                                    {{orderStatus.name}}
                                                </span>
                                            </td>
                                            <td>
                                                <span>{{order.updatedAt | date}}</span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>

                                <form
                                    class="update-status p-24"
                                    [formGroup]="statusForm"
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                >

                                    <mat-form-field
                                        appearance="outline"
                                        class="mr-16"
                                        fxFlex
                                    >
                                        <mat-label>Status</mat-label>
                                        <mat-select
                                            formControlName="newStatus"
                                            required
                                        >
                                            <mat-option
                                                *ngFor="let status of orderStatuses"
                                                [value]="status.id"
                                            >
                                                {{status.name}}
                                            </mat-option>
                                        </mat-select>
                                    </mat-form-field>

                                    <button
                                        mat-raised-button
                                        (click)="updateStatus()"
                                        class="mat-accent"
                                    >
                                        Update Status
                                    </button>
                                </form>

                            </div>

                            <div class="section pb-48">

                                <div
                                    class="pb-16"
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                >
                                    <mat-icon class="m-0 mr-16 secondary-text">attach_money</mat-icon>
                                    <div class="h2 secondary-text">Payment</div>
                                </div>

                                <!-- <table class="simple">
                                    <thead>
                                        <tr>
                                            <th>TransactionID</th>
                                            <th>Payment Method</th>
                                            <th>Amount</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <tr>
                                            <td>
                                                <span class="text-truncate">
                                                    {{order.payment.transactionId}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                    {{order.payment.method}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                    {{order.payment.amount}}
                                                </span>
                                            </td>
                                            <td>
                                                <span class="text-truncate">
                                                    {{order.payment.date | date}}
                                                </span>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table> -->
                            </div>

                            <div *ngIf="order.shippingMethod && order.shippingMethod.name === 'Send To My Door'" class="section pb-48">

                                <div
                                    class="pb-16"
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                >
                                    <mat-icon class="m-0 mr-16 secondary-text">local_shipping</mat-icon>
                                    <div class="h2 secondary-text">Shipping</div>
                                </div>

                                <!-- <table class="simple">
                                    <thead>
                                        <tr>
                                            <th>Tracking Code</th>
                                            <th>Carrier</th>
                                            <th>Weight</th>
                                            <th>Fee</th>
                                            <th>Date</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>
                                </table> -->
                                <form
                                    name="shipForm"
                                    class="update-status p-24"
                                    [formGroup]="shipForm"
                                    fxLayout="row"
                                    fxLayoutAlign="start center"
                                >

                                    <mat-form-field
                                        fxFlex
                                        class="mr-12"
                                    >
                                        <mat-label>Tracking Code</mat-label>
                                        <input
                                            matInput
                                            name="trackingCode"
                                            formControlName="trackingCode"
                                        >
                                    </mat-form-field>

                                    <mat-form-field
                                        fxFlex
                                        class="mr-12"
                                    >
                                        <mat-label>Carrier</mat-label>
                                        <input
                                            matInput
                                            name="shippingCarrier"
                                            formControlName="shippingCarrier"
                                        >
                                    </mat-form-field>

                                    <mat-form-field
                                        fxFlex
                                        class="mr-12"
                                    >
                                        <mat-label>Weight</mat-label>
                                        <input
                                            matInput
                                            name="shippingWeight"
                                            formControlName="shippingWeight"
                                        >
                                    </mat-form-field>

                                    <mat-form-field
                                        fxFlex
                                        class="mr-12"
                                    >
                                        <mat-label>Fee</mat-label>
                                        <input
                                            matInput
                                            name="shippingFee"
                                            formControlName="shippingFee"
                                        >
                                    </mat-form-field>
                                    <mat-form-field
                                        fxFlex
                                        class="mr-12"
                                    >
                                        <mat-label>Date</mat-label>
                                        <input
                                            matInput
                                            name="createdAt"
                                            readonly
                                            formControlName="createdAt"
                                        >
                                    </mat-form-field>
                                </form>
                                <button
                                    mat-raised-button
                                    (click)="updateShipping()"
                                    class="mat-accent"
                                >
                                    Update Shipping
                                </button>
                            </div>

                        </div>
                    </mat-tab>

                    <mat-tab label="Products">
                        <div
                            class="products tab-content p-24"
                            fusePerfectScrollbar
                        >
                            <table class="simple">
                                <thead>
                                    <tr>
                                        <th>ID</th>
                                        <th class="w-120">Image</th>
                                        <th>Name</th>
                                        <th class="w-120">Price</th>
                                        <th class="w-80">Quantity</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr
                                        class="product-row"
                                        *ngFor="let item of order.cartItems"
                                        [routerLink]="'/apps/e-commerce/products/'+item.product.id"
                                    >
                                        <td *ngIf="item.product">{{item.product.id}}</td>
                                        <td *ngIf="item.product">
                                            <img
                                                class="product-image"
                                                [src]="resourceUrl + item.product.id + '/0'"
                                            >
                                        </td>
                                        <td>{{item.product.name}}</td>
                                        <td>{{item.product.price}}</td>
                                        <td>{{item.product.qty}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </mat-tab>

                    <mat-tab label="Invoice">

                        <div
                            class="invoice tab-content p-24"
                            fusePerfectScrollbar
                        >

                            <div
                                id="invoice"
                                class="compact page-layout blank"
                                fxLayout="row"
                                fusePerfectScrollbar
                            >

                                <div class="invoice-container">

                                    <!-- INVOICE -->
                                    <div class="card">

                                        <div class="header">
                                            <div class="invoice-date">order.date</div>

                                            <div
                                                fxLayout="row"
                                                fxLayoutAlign="space-between stretch"
                                            >
                                                <div class="client">
                                                    <div
                                                        class="invoice-number"
                                                        fxLayout="row"
                                                        fxLayoutAlign="start center"
                                                    >
                                                        <span class="title">INVOICE</span>
                                                        <span *ngIf="order.id" class="number">{{order.id}}</span>
                                                    </div>

                                                    <div
                                                        class="info"
                                                        *ngIf="order.billingAddress"
                                                    >
                                                        <div class="title">
                                                            {{order.billingAddress.firstName}}
                                                            {{order.billingAddress.lastName}}
                                                        </div>
                                                        <div class="address">
                                                            {{order.billingAddress.street}}  {{order.billingAddress.city}}
                                                        </div>
                                                        <div class="phone">{{order.billingAddress.phone}}</div>
                                                        <!-- <div class="email">{{order.billingAddress.email}}</div> -->
                                                    </div>
                                                </div>

                                                <div
                                                    class="issuer accent"
                                                    fxLayout="row"
                                                    fxLayoutAlign="start center"
                                                    *ngIf="order.company"
                                                >
                                                    <div class="logo">
                                                        <img [src]="'https://ui-avatars.com/api/?name=' + order.company.name">
                                                    </div>

                                                    <div class="info">
                                                        <div class="title">{{order.company.name}}</div>
                                                        <div class="address">{{order.company.address}}</div>
                                                        <div class="phone">{{order.company.phone}}</div>
                                                        <div class="email">{{order.company.email}}</div>
                                                        <div class="website">{{order.company.website}}</div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>

                                        <div class="content">

                                            <table class="simple invoice-table">
                                                <thead>
                                                    <tr>
                                                        <th>PRODUCT</th>
                                                        <th class="text-right">PRICE</th>
                                                        <th class="text-right">QUANTITY</th>
                                                        <th class="text-right">TOTAL</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    <tr *ngFor="let item of order.cartItems">
                                                        <td>
                                                            <div class="title">{{item.product.name}}</div>
                                                        </td>
                                                        <td class="text-right">
                                                            {{item.product.price | currency:'HKD':'symbol'}}
                                                        </td>
                                                        <td class="text-right">{{item.product.qty}}</td>
                                                        <td class="text-right">
                                                            {{item.price | currency:'HKD':'symbol'}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>

                                            <table class="simple invoice-table-footer">
                                                <tbody>
                                                    <tr class="subtotal">
                                                        <td>SUBTOTAL</td>
                                                        <td>
                                                            order.subtotal 
                                                            <!-- {{order.subtotal | currency:'HKD':'symbol'}} -->
                                                        </td>
                                                    </tr>
                                                    <tr class="tax">
                                                        <td>TAX</td>
                                                        <td>0</td>
                                                        <!-- <td>{{order.tax | currency:'HKD':'symbol'}}</td> -->
                                                    </tr>
                                                    <tr class="discount">
                                                        <td>DISCOUNT</td>
                                                        <td>
                                                            order.discount
                                                            <!-- -{{order.discount | currency:'HKD':'symbol'}} -->
                                                        </td>
                                                    </tr>
                                                    <tr class="total">
                                                        <td>TOTAL</td>
                                                        <td>
                                                            {{order.total | currency:'HKD':'symbol'}}
                                                        </td>
                                                    </tr>
                                                </tbody>
                                            </table>
                                        </div>

                                        <div
                                            class="footer"
                                            *ngIf="order.company"
                                        >
                                            <div class="note">
                                                Please pay within 15 days. Thank you for your business.
                                            </div>
                                            <div
                                                fxLayout="row"
                                                fxLayoutAlign="start start"
                                            >
                                                <div class="logo">
                                                    <img [src]="'https://ui-avatars.com/api/?name=' + order.company.name">
                                                </div>
                                                <div class="small-note">Contribute to environmental protection</div>
                                            </div>
                                        </div>
                                    </div>
                                    <!-- / INVOICE -->

                                </div>
                            </div>
                        </div>
                    </mat-tab>

                </mat-tab-group>

            </div>
            <!-- / CONTENT -->

        </div>
        <!-- / CONTENT CARD -->

    </div>
    <!-- / CENTER -->
</div>
