<!-- <div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="billingAddress">
            <h2><span>Billing Address</span> {{ billingAddress.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>User Id</span></dt>
                <dd>
                    <span>{{ billingAddress.userId }}</span>
                </dd>
                <dt><span>First Name</span></dt>
                <dd>
                    <span>{{ billingAddress.firstName }}</span>
                </dd>
                <dt><span>Last Name</span></dt>
                <dd>
                    <span>{{ billingAddress.lastName }}</span>
                </dd>
                <dt><span>Phone</span></dt>
                <dd>
                    <span>{{ billingAddress.phone }}</span>
                </dd>
                <dt><span>City</span></dt>
                <dd>
                    <span>{{ billingAddress.city }}</span>
                </dd>
                <dt><span>Street</span></dt>
                <dd>
                    <span>{{ billingAddress.street }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ billingAddress.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ billingAddress.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/billing-address', billingAddress.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div> -->
