<!-- <div fxLayout="row wrap">
    <div
        fxFlex.gt-lg="100"
        fxFlex.gt-md="100"
        fxFlex.gt-xs="100"
        fxFlex="100"
    >
    <mat-card>
        <mat-card-content>
        <form>
            <mat-form-field >
                <input
                    matInput
                    type="text"
                    placeholder="Search products by Brand, Name"
                    formControlName="keyword"
                >
            </mat-form-field>
    <button mat-icon-button type="submit">
        <mat-icon>search</mat-icon>
    </button>
        </form>
        </mat-card-content>
        </mat-card>
    </div>
</div> -->
