<!-- <div>
    <h2 id="page-heading">
        <span>Product Images</span>

        <button id="jh-create-entity" class="btn btn-primary float-right jh-create-entity create-product-image" [routerLink]="['/product-image/new']">
            <fa-icon icon="plus"></fa-icon>
            <span>
            Create a new Product Image
            </span>
        </button>
    </h2>

    <jhi-alert-error></jhi-alert-error>

    <jhi-alert></jhi-alert>

    <div class="alert alert-warning" id="no-result" *ngIf="productImages?.length === 0">
        <span>No productImages found</span>
    </div>

    <div class="table-responsive" id="entities" *ngIf="productImages?.length > 0">
        <table class="table table-striped" aria-describedby="page-heading">
            <thead>
                <tr>
                    <th scope="col" ><span>ID</span></th>
                    <th scope="col" ><span>Product Id</span></th>
                    <th scope="col" ><span>Filename</span></th>
                    <th scope="col" ><span>Image</span></th>
                    <th scope="col" ><span>Sequence</span></th>
                    <th scope="col" ><span>Created At</span></th>
                    <th scope="col" ><span>Updated At</span></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let productImage of productImages ;trackBy: trackId">
                    <td><a [routerLink]="['/product-image', productImage.id, 'view']">{{ productImage.id }}</a></td>
                    <td>{{ productImage.productId }}</td>
                    <td>{{ productImage.filename }}</td>
                    <td>
                        <a *ngIf="productImage.image" (click)="openFile(productImage.imageContentType, productImage.image)">
                            <img [src]="'data:' + productImage.imageContentType + ';base64,' + productImage.image" style="max-height: 30px;" alt="productImage image"/>
                        </a>
                        <span *ngIf="productImage.image">{{ productImage.imageContentType }}, {{ byteSize(productImage.image) }}</span>
                    </td>
                    <td>{{ productImage.sequence }}</td>
                    <td>{{ productImage.createdAt | date:'medium' }}</td>
                    <td>{{ productImage.updatedAt | date:'medium' }}</td>
                    <td class="text-right">
                        <div class="btn-group">
                            <button type="submit"
                                    [routerLink]="['/product-image', productImage.id, 'view']"
                                    class="btn btn-info btn-sm">
                                <fa-icon icon="eye"></fa-icon>
                                <span class="d-none d-md-inline">View</span>
                            </button>

                            <button type="submit"
                                    [routerLink]="['/product-image', productImage.id, 'edit']"
                                    class="btn btn-primary btn-sm">
                                <fa-icon icon="pencil-alt"></fa-icon>
                                <span class="d-none d-md-inline">Edit</span>
                            </button>

                            <button type="submit" (click)="delete(productImage)"
                                    class="btn btn-danger btn-sm">
                                <fa-icon icon="times"></fa-icon>
                                <span class="d-none d-md-inline">Delete</span>
                            </button>
                        </div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div> -->
