<div>
    <div class="row justify-content-center">
        <div class="col-md-8">
            <h1>Reset your password</h1>

            <!-- <app-alert-error></app-alert-error> -->

            <div
                class="alert alert-warning"
                *ngIf="!success"
            >
                <span>
                    Enter the email address you used to register.
                </span>
            </div>

            <div
                class="alert alert-success"
                *ngIf="success"
            >
                <span>
                    Check your emails for details on how to reset your password.
                </span>
            </div>

            <form
                *ngIf="!success"
                name="form"
                role="form"
                (ngSubmit)="requestReset()"
                [formGroup]="resetRequestForm"
            >
                <mat-form-field>
                    <input
                        type="email"
                        matInput
                        placeholder="Your email"
                        formControlName="email"
                    >

                </mat-form-field>
                <div *ngIf="resetRequestForm.get('email')!.invalid && (resetRequestForm.get('email')!.dirty || resetRequestForm.get('email')!.touched)">
                    <small
                        class="form-text text-danger"
                        *ngIf="resetRequestForm.get('email')?.errors?.required"
                    >
                        Your email is required.
                    </small>

                    <small
                        class="form-text text-danger"
                        *ngIf="resetRequestForm.get('email')?.errors?.email"
                    >
                        Your email is invalid.
                    </small>

                    <small
                        class="form-text text-danger"
                        *ngIf="resetRequestForm.get('email')?.errors?.minlength"
                    >
                        Your email is required to be at least 5 characters.
                    </small>

                    <small
                        class="form-text text-danger"
                        *ngIf="resetRequestForm.get('email')?.errors?.maxlength"
                    >
                        Your email cannot be longer than 100 characters.
                    </small>
                </div>

                <button
                    type="submit"
                    [disabled]="resetRequestForm.invalid"
                    mat-raised-button
                    color="primary"
                >
                    Reset
                </button>
            </form>
        </div>
    </div>
</div>
