<!-- <div class="row justify-content-center">
    <div class="col-8">
        <div *ngIf="shipping">
            <h2><span>Shipping</span> {{ shipping.id }}</h2>

            <hr>

            <jhi-alert-error></jhi-alert-error>

            <dl class="row-md jh-entity-details">
                <dt><span>Order Id</span></dt>
                <dd>
                    <span>{{ shipping.orderId }}</span>
                </dd>
                <dt><span>Tracking Code</span></dt>
                <dd>
                    <span>{{ shipping.trackingCode }}</span>
                </dd>
                <dt><span>Carrier</span></dt>
                <dd>
                    <span>{{ shipping.carrier }}</span>
                </dd>
                <dt><span>Weight</span></dt>
                <dd>
                    <span>{{ shipping.weight }}</span>
                </dd>
                <dt><span>Fee</span></dt>
                <dd>
                    <span>{{ shipping.fee }}</span>
                </dd>
                <dt><span>Created At</span></dt>
                <dd>
                    <span>{{ shipping.createdAt }}</span>
                </dd>
                <dt><span>Updated At</span></dt>
                <dd>
                    <span>{{ shipping.updatedAt }}</span>
                </dd>
            </dl>

            <button type="submit"
                    (click)="previousState()"
                    class="btn btn-info">
                <fa-icon icon="arrow-left"></fa-icon>&nbsp;<span>Back</span>
            </button>

            <button type="button"
                    [routerLink]="['/shipping', shipping.id, 'edit']"
                    class="btn btn-primary">
                <fa-icon icon="pencil-alt"></fa-icon>&nbsp;<span>Edit</span>
            </button>
        </div>
    </div>
</div> -->
