<!-- <div fxLayout="row wrap">
    <div
        fxFlex.gt-lg="90"
        fxFlex.gt-md="90"
        fxFlex.gt-xs="100"
        fxFlex="100"
    >
    <app-search-bar-component></app-search-bar-component>
    </div>
    <div
    fxFlex.gt-lg="10"
    fxFlex.gt-md="10"
    fxFlex.gt-xs="100"
    fxFlex="100"
>
<button mat-raised-button color="primary" style="margin-top: 60px;">
    Add new
</button>
</div>
</div> -->
